__pycache__/
*.py[oc]
.DS_Store
build/
dist/
wheels/
*.egg-info
.venv
.*.env
.env
.env.*
envs/*.env
!envs/example.local.env
!envs/example.prod.env
frontend/.env
frontend/.env.*
node_modules/
frontend/node_modules/
app/ui/auth-demo/
.idea/
.vscode
.coverage
*.coverage
.coverage.*
site/
frontend/.vite/
._*
.DS_Store
__pycache__/
*.pyc
.venv/